.footer {
    padding: 1px 0 34px;

    &__body {

        @media (min-width: 576px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;    
        }
    }

    &__col {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        & .btn-scroll-top {
            margin-left: 30px;
        }

        &:first-child {
            margin-right: 20px;
        }

    }

    &__copy {
        font-size: 16px;
        line-height: 1.1975em;
        color: #666666;

        & > span {
            color: $textColor;
        }

        @media (max-width: 575.98px) {
            margin-right: auto;
        }
    }
}

.btn-scroll-top {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #5a5a5a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all .3s ease;

    &:before {
        font-family: "icomoon";
        content: "\e900";
        color: #fff;
        font-size: 10px;
        transition: all .3s ease;
    }

    @media (min-width: 992px) {
        &:hover {
            background-color: #fff;

            &:before {
                color: $mainColor;
            }
        }
    }
}
